:root {
  --section-overlay: #000000b3;
}

.section {
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: white;
}

.section__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);
}

.section__inputs > input {
  border: 0.8px solid white;
  border-radius: 0.4rem;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 200;
}

.section__inputs > input:focus {
  outline: none;
}

.section__inputs > button {
  padding: 10px 50px;
  border: none;
  border-radius: 00.4rem;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
}

.section__inputs > button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
