.App {
  text-align: center;
}

:root {
  --background-overlay: #04001e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  min-height: 100vh;
  /* background-color: var(--background-overlay); */
}

.container {
  max-width: 800px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
